@using Evernote.BusinessLayer
@using Evernote.Entities

@{
    CategoryManager cm = new CategoryManager();
    List<EvernoteCategory> list = cm.GetEvernoteCategories();
}

<p class="lead">Kategoriler</p>
<div class="list-group">
        <!-- Alttaki 2 a href kullanımı da doğrudur. İkisi de farklı kullanımıdır. -->
    <a href="@Url.Action("Index","Home")" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Categories</a>

    @foreach (EvernoteCategory category in list)
    {
        <a href="/Category/Select/@category.Id" title="@category.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> @category.Title</a>
    }
</div>